main .bouton
{

        width: 100%;
        height: 75px;
        // align-items: center;
        text-align: center;
        
        margin: 10px auto;
        padding: 0;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 5px 10px 0px #b4b4b4;
        background-color: #FAFAFA;
        font-size: 1rem;
        font-weight: 500;
        font-weight: bolder;
        // text-align: start;
        color: #000;
        font-family: "Roboto", sans-serif;

        &:hover {

                background-color: lighten(#9356dc, 35%);
                transform: scale(1.02);
           
                // i::before {
                //   color: colors.$purple;
                // }
        }
        // padding-bottom: 1rem;
}

main .boutons{
        padding-top: 1rem;
}
