main .boutons{
        padding-top: 1rem;
        margin-left: 3rem;
        padding-left: 3rem;
     
}



.boutons h2{
        margin-left: 9%;
        margin-top: 1rem;
        padding-top: 1rem;
}


.bouton{
        align-items: center;
        text-align: center;
        display: grid;
        .espace{

                display: grid;
                place-items: center;
                margin-left: 30%;
                position: absolute;
        }

        width: 95%;
        height: 75px;
        box-shadow: 0 5 10 0px #b4b4b4;
        position: relative;
        margin: 10px auto; 
        padding: 0;
        border: none;
        border-radius: 20px;

        background-color:  #FAFAFA;
        font-size: 1rem;
        font-weight: 500;
        text-align: start;
        color: black;
        font-family: 'Roboto', sans-serif;


    

        &-numero{
                top: 26px;
                padding: 3px 8.5px 2px 6.5px;
                background-color:#9356DC;
                border: 1px solid #9356DC;
                border-radius: 22px;
                color: #FFF;
                gap:1rem;
                position: absolute;
                left: -20px;
         
        }   
        &:hover{  

                background-color: lighten(#9356dc, 35%);
                transform: scale(1.02);
                cursor: pointer;
                i{
                        color   : #9356dc;
                   }
                   .fas{
                           color   : #9356dc;
                   }
        }  
       
        i{
                margin-left: 2rem;
                // padding-left: 2rem;
                // margin-right: 5rem;
                position: relative;
                display: flex;
                align-items: center;
        }
      
  

}   