@use "Sass/layout/header.scss";
@use "Sass/layout/localisation.scss";

@use "Sass/layout/reserver.scss";
@use "Sass/layout/bouton.scss";

@use "Sass/layout/lestroisboutons.scss";


@use "Sass/component/menu.scss";


@use "Sass/component/footer.scss";


@use "Sass/pages/page_principale.scss";

// @use "Sass/pages/main_page.scss";

// @use "Sass/pages/main.scss";






