@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
header {
  font-weight: bold;
  align-items: center;
  font-family: "Shrikhand", cursive;
  text-align: center;
}
header h1 {
  align-items: center;
}

.localisation {
  align-items: center;
  text-align: center;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.localisation i {
  font-size: 1.25rem;
}

body .reserver {
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  height: auto;
  padding-bottom: 2rem;
  background-color: #fdfdfd;
}
body .reserver h2 {
  font-weight: bold;
}
body .reserver h3 {
  padding-bottom: 0.5rem;
}

body .couleur {
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  height: auto;
  padding-bottom: 2rem;
}
body .couleur h2 {
  font-weight: bold;
}
body .couleur h3 {
  padding-bottom: 0.5rem;
}

.reserver button {
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  margin-top: 1.5rem;
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: transform 200ms;
}
.reserver button :hover {
  transform: scale(1.02);
}

.reserver button:hover {
  transform: scale(1.05);
}

.mainpetitmenu button {
  align-items: center;
}

.couleur button {
  align-items: center;
  margin: auto;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  margin-top: 1.5rem;
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 200ms;
}
.couleur button :hover {
  transform: scale(1.02);
}

.mainpetitmenu button:hover {
  transform: scale(1.05);
}

main .bouton {
  width: 100%;
  height: 75px;
  text-align: center;
  margin: 10px auto;
  padding: 0;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px #b4b4b4;
  background-color: #FAFAFA;
  font-size: 1rem;
  font-weight: 500;
  font-weight: bolder;
  color: #000;
  font-family: "Roboto", sans-serif;
}
main .bouton:hover {
  background-color: #f2eafb;
  transform: scale(1.02);
}

main .boutons {
  padding-top: 1rem;
}

main .restaurant {
  background-color: rgb(255, 255, 255);
}

main .restaurants .p {
  text-decoration: none;
}

main .restaurants .h3 {
  text-decoration: none;
}

main .carte {
  text-decoration: none;
}

main .restaurants .carte {
  text-decoration: none;
  color: black;
}

main .restaurants .carte1 {
  text-decoration: none;
  color: black;
}

main .h2 {
  padding-left: 2rem;
  margin-left: 2rem;
}

body main .restaurants .h2 {
  padding-left: 2rem;
  margin-left: 2rem;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
  margin-top: 5rem;
}
footer h2 {
  font-family: "Shrikhand", "sans-serif";
  font-weight: 500;
  padding: 1rem 0;
}
footer p {
  padding: 0.2rem;
}

body .footer {
  margin: 0rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

footer {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
footer :any-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 7rem;
}
@media (max-width: 1000px) {
  main {
    padding: 0 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.carte .h3 {
  text-decoration: none;
}

main {
  margin-left: 1rem;
  margin-right: 1rem;
}

.restaurants {
  background-color: rgb(246, 246, 246);
  margin-bottom: 2rem;
}

.restaurants__navigation {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.restaurants .carte1 {
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
.restaurants .carte1::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.restaurants .carte1::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.restaurants .carte1:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.restaurants .carte {
  border-radius: 20px;
  background-color: #ffffff;
  padding-bottom: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-grow: 1;
  min-width: 3rem;
  max-width: 70rem;
}

.imgcarte, .carte new {
  width: 100%;
  min-width: 3rem;
  max-width: 70rem .imgcarte, .carte new 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.carte1, .carte new {
  background-color: aliceblue;
}

main .restaurants .h3, .p {
  font-weight: bold;
  color: aquamarine;
}

@media screen and (min-width: 1024px) {
  .carte {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .carte:hover {
    -webkit-animation: coup 2s ease-in 0.05s forwards;
    animation: coup 2s ease-in 0.05s forwards;
  }
}
main {
  margin-bottom: 0rem;
}

body {
  margin-bottom: 0rem;
  margin: 0;
}
body .footer {
  margin-left: 0rem;
  margin-right: 0rem;
}

.restaurants .imgcarte {
  position: relative;
}

.restaurants .imgcarte::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}

@media screen and (min-width: 1024px) {
  .carte:hover .carte__lien--nouveau {
    z-index: 1;
    -webkit-animation: tombe 2s linear 0.05s;
    animation: tombe 2s linear 0.05s;
  }
}
.restaurants__navigation .new {
  position: relative;
  width: 80px;
  left: 295px;
  top: 12px;
  padding: 8px;
  border-radius: 12px;
  background-color: #99E2D0;
  text-align: center;
  color: #278870;
}

.new {
  position: relative;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}

main .restaurants h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main .carte {
  padding-bottom: 3rem;
}
main .carte h3, main .carte p {
  padding-top: 0.3rem;
  padding-left: 1rem;
}

.carte__lien--selection {
  display: none;
}

.carte__lien--selection:checked + .coeur .coeur--vide {
  -webkit-animation: efface 0.5s linear forwards;
  animation: efface 0.5s linear forwards;
}

.carte__lien--selection:checked + .coeur .coeur__filtre--plein {
  opacity: 1;
}

.carte__lien--selection:checked + .coeur .coeur__filtre--plein {
  opacity: 1;
  z-index: 1;
  -webkit-animation: grandi-bat 1.8s linear forwards;
  animation: grandi-bat 1.8s linear forwards;
}

@media screen and (min-width: 1024px) {
  .carte__lien--selection:hover + .coeur .coeur--vide {
    -webkit-animation: efface 0.5s linear forwards;
    animation: efface 0.5s linear forwards;
  }
  .carte__lien--selection:hover + .coeur .coeur__filtre--plein {
    opacity: 1;
  }
  .carte__lien--selection:hover + .coeur .coeur__filtre--plein {
    z-index: 1;
    opacity: 1;
    -webkit-animation: grandi-bat 1.8s linear forwards;
    animation: grandi-bat 1.8s linear forwards;
  }
}
@media screen and (min-width: 1024px) {
  .carte:hover .carte__lien--nouveau {
    z-index: 1;
    -webkit-animation: tombe 2s linear 0.05s;
    animation: tombe 2s linear 0.05s;
  }
}
/* bloc bem coeur réutilisé */
.coeur {
  position: absolute;
  right: 10px;
  bottom: 20px;
  /* coeur vide */
  /* zone apparition du coeur plein */
}

.coeur:hover {
  cursor: -webkit-grab;
  cursor: grab;
}

.coeur--vide {
  padding: 13px 12.5px 12px 12.8px;
  font-size: 1.48rem;
}

.coeur__filtre {
  position: absolute;
  right: 0px;
  top: 0px;
  /* coeur plein */
}

.coeur__filtre--plein {
  position: absolute;
  padding: 12px 11px 12px 13px;
  font-size: 1.5rem;
  color: transparent;
  opacity: 0;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  background: -o-linear-gradient(250deg, #9356DC 35%, #FF79DA 65%);
  background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
  -webkit-background-clip: text;
}

#page1 #page1 body .header .h1 {
  text-align: center;
  align-items: center;
}

.imgfond {
  height: 10rem;
  width: 10rem;
}

.imgpagi {
  width: 100%;
  min-width: 185px;
  object-position: center;
  object-fit: cover;
  max-height: 25rem;
}

.body2 {
  background-color: #f6f6f6;
}

.body2 .titrepalette {
  font-weight: bold;
  font-family: "Shrikhand", cursive;
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  border-top-left-radius: 20px;
  min-width: 256px;
  background-color: #f6f6f6;
  margin-top: -2rem;
}
.body2 .titrepalette::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.body2 .titrepalette::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.body2 .titrepalette:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.mainpetitmenu .petitmenu {
  background-color: white;
  overflow: hidden;
  display: flex-grow;
  height: 4rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  margin-bottom: 1rem;
  animation: appear 1s;
  animation-fill-mode: both;
  height: auto;
}
.mainpetitmenu .petitmenu .h4 {
  margin-bottom: 0;
  margin: 0;
}
.mainpetitmenu .petitmenu .p {
  margin: 0;
}
.mainpetitmenu .petitmenu .h4, .mainpetitmenu .petitmenu .p {
  margin: 0;
  margin-top: 0%;
  margin-bottom: 0cm;
  padding: 0cm;
}

.carte1 {
  text-decoration: done;
}

.repas__titre--barre {
  background-color: #99e2d0;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 4rem;
  max-width: 100px;
  height: 2.5px;
  display: block;
  transform-origin: 0% 50%;
  transform: scaleX(0.5);
}

body {
  background-color: #f6f6f6;
}

header:hover::before {
  transform: translateY(-50%) scale(1.2);
}
header::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: transform 200ms;
}

.resto__title {
  margin-top: -2rem;
}
.resto__title h2 {
  font-family: "Shrikhand", "cursive";
  padding: 2rem 1rem;
  position: relative;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
}
.resto__title h2::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 200ms ease-in-out;
}
.resto__title h2::after {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.resto__title h2:hover::after {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}

.mainpetitmenu {
  padding: 0 1rem;
}

.sectionpetitmenu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
@media (max-width: 1000px) {
  .sectionpetitmenu {
    grid-template-columns: 1fr;
  }
}
.sectionpetitmenu h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
}
.sectionpetitmenu h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99e2d0;
}
.sectionpetitmenu .section {
  overflow: hidden;
}
.sectionpetitmenu .section .menu-item {
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem;
  box-shadow: 2px 1px 8px -3px 1000px #7e7e7e;
  animation: appear 1s;
  animation-fill-mode: both;
}
.sectionpetitmenu .section .menu-item:nth-child(1) {
  animation-delay: 100ms;
}
.sectionpetitmenu .section .menu-item:nth-child(2) {
  animation-delay: 200ms;
}
.sectionpetitmenu .section .menu-item:nth-child(3) {
  animation-delay: 300ms;
}
.sectionpetitmenu .section .menu-item .menu-item__price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.sectionpetitmenu .section .menu-item .menu-item__description {
  padding: 1rem;
  overflow: hidden;
}
.sectionpetitmenu .section .menu-item .menu-item__description h4,
.sectionpetitmenu .section .menu-item .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sectionpetitmenu .section .menu-item .menu-item__check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99e2d0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.sectionpetitmenu .section .menu-item .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  color: #99e2d0;
}
.sectionpetitmenu .section .menu-item:hover {
  cursor: pointer;
}
.sectionpetitmenu .section .menu-item:hover .menu-item__check {
  margin-right: 0;
}
.sectionpetitmenu .section .menu-item:hover i {
  animation: quarterspin 0.5s ease-in-out;
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.loader-multi {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 3;
  animation: disappear 100ms 3s forwards;
  transform-origin: top;
}

.loader-multi::after {
  content: "";
  height: 100px;
  width: 100px;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  border-radius: 50%;
  animation: spin 3s ease-in-out;
  animation-iteration-count: 3;
}

/*# sourceMappingURL=style.css.map */
