
main .restaurant
{
    background-color: rgba(255,255,255,255);
}



main .imgcarte
{
    max-width: 10rem;
    max-height: 10rem;


 border-top-left-radius: 20px;
 border-top-right-radius: 20px;
}

main .carte{

    display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      
}

