
// @use "../base/usefull.scss";

main .restaurant
{
    background-color: rgba(255,255,255,255);
}


// main .imgcarte
// {
//     max-width: 10rem;
//     max-height: 10rem;


//  border-top-left-radius: 20px;
//  border-top-right-radius: 20px;
// }


// main .carte{

//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     gap: 2rem;
    
// }

// #homepage .menus .menus__cards .card__image img {
//     object-fit: cover;
//     border-top-left-radius: 25px;
//     border-top-right-radius: 25px;
//     width: 100%;
//     height: 100%;
//   }
//   #homepage .menus .card__image {
//     height: 15rem;
//     border-radius: 1rem 1rem 0 0;
//     background-size: cover;
//     background-position: center;
//   }





main .restaurants .p{
    text-decoration: none;
}
main .restaurants .h3{
    text-decoration: none;
}

main .carte{
    text-decoration: none;

}

main  .restaurants .carte{
    text-decoration: none;
    color: black;
}
main  .restaurants .carte1{
    text-decoration: none;
    color: black;

}

main .h2{
    padding-left: 2rem;
    margin-left: 2rem;
}


body main .restaurants .h2{
    padding-left: 2rem;
    margin-left: 2rem;
}