

@use "../utils/usefull.scss";  

body {
    background-color: usefull.$lightergrey;
  }
    header {
      &:hover::before {
        @include usefull.transform-zoom($zoom-level: 1.2, $transformation: translateY(-50%));
    }
      &::before {
        @include usefull.font-awesome($font-weight: 900);
        // content: "\f060";
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        transition: transform 200ms;
      }
    }

  
    .resto__title {
      margin-top: -2rem;
      h2 {
        font-family: "Shrikhand", "cursive";
        padding: 2rem 1rem;
        @include usefull.heart-animated;
        border-radius: 2rem 2rem 0 0;
        background-color: usefull.$lightergrey;
        
      }
    }
  
    .mainpetitmenu {
      padding: 0 0rem;
    }
  
    
    .sectionpetitmenu {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      @media (max-width: usefull.$breakpoint) {
        grid-template-columns: 1fr;
      }
      h3 {
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        margin-bottom: 1rem;
        &::after {
          content: "";
          position: absolute;
          top: 1.5rem;
          left: 0;
          height: 0.25rem;
          width: 3rem;
          background-color: usefull.$color-tertiary;
        }
      }
      .section {
        overflow: hidden;
        .menu-item {
          $numberOfItems: 3;
          @for $i from 1 through $numberOfItems {
            &:nth-child(#{$i}) {
              animation-delay: 100ms * $i;
            }
          }
          display: flex;
          background-color: white;
          border-radius: 1rem;
          overflow: hidden;
          margin: 0.5rem;
          @include usefull.box-shadow;
          animation: appear 1s;
          animation-fill-mode: both;
         
          .menu-item__price {
            margin-left: auto;
            font-weight: 900;
            padding: 1rem;
            display: flex;
            align-items: flex-end;
          }
          .menu-item__description {
            padding: 1rem;
            overflow: hidden;
            h4,
            p {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          .menu-item__check {
            display: grid;
            place-items: center;
            flex-shrink: 0;
            $button-width: 4rem;
            background-color: usefull.$color-tertiary;
            margin-right: -1 * $button-width;
            width: $button-width;
            transition: margin-right 0.5s;
            i {
              $size: 1rem;
              display: grid;
              place-items: center;
              background: white;
              height: $size;
              width: $size;
              border-radius: 1rem;
              color: usefull.$color-tertiary;
            }
          }
          &:hover {
            cursor: pointer;
            .menu-item__check {
              margin-right: 0;
            }
            i {
              @include usefull.quarterspin;
              animation: quarterspin 0.5s ease-in-out;
            }
          }
        }
      }
    }