#page1


#page1 body .header .h1{
    text-align: center;
    align-items: center;
}

.imgfond
{
    height: 10rem;
    width: 10rem;
}


.mainpetitmenu{
    margin-top: 0rem;
    margin: 0%;
}

.titrepalette h2{
    margin: 0rem;
    padding: 0%;
   
    font-family: Great Vibes;
   
    align-items: center;
    // margin-left: -10%;
    margin-left: 10%;

}




main .mainpetitmenu{
    border-top-right-radius: 2rem;
    margin-top: -44rem;
}

body{
    margin: 0;
    gap :0;
    padding: 0;
}

 #page2 .arondi {
    margin-top: -4rem;
  }



  #page2 .arondi h2 {
    align-self: start;
    font-family: "Shrikhand", "cursive";
    padding: 2rem 2rem;
    position: relative;
    background-color: white;
    border-radius: 0 0 1rem 1rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    // margin-right: 11rem;
    
    // width: 100%;
    border-top-right-radius: 12rem;
    border-top-left-radius: 12rem;
  }
  
  
  #page2 .arondi h2::before {
    display: inline-block;
    position: absolute;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f004";
    font-size: 2rem;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 1;
    transition: all 200ms ease-in-out;
  }

.arondi{
    width: 101.2%;
    margin-left: -1%;
    .h2{
        margin-left: 1rem;
    }
 
}

section.sectionpetitmenu {
    padding-left: 5%;
    padding-right: 5%;
}


