@use "../utils/usefull.scss";
.carte .h3{
    text-decoration : none;
}

//pour marge

main{
    margin-left: 1rem;
    margin-right: 1rem;
}



.restaurants
{
    background-color: rgba(246,246,246,255);
    margin-bottom: 2rem;
}


.restaurants__navigation
{
    display: flex;
    gap : 3rem;
    flex-wrap: wrap ;

}


.restaurants .carte {
    // height: 250px;
    // width: 100%;
    border-radius: 20px;
    // color: #000;
    background-color: #ffffff;
    // -webkit-box-shadow: 0px 5px 10px 0px #b4b4b4;
    // box-shadow: 0px 5px 10px 0px #b4b4b4;
    padding-bottom: 1rem;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-grow: 1;
    min-width: 3rem;
    max-width: 70rem;
  }



  .imgcarte {
    // height: 175px;
    width: 100%;
    // -o-object-fit: cover;
    // object-fit: cover;
    min-width: 3rem;
    max-width: 70rem&100%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }

.carte1{
    background-color: aliceblue;
}



main .restaurants .h3, .p
{
    font-weight: bold;
    color: aquamarine;
}



  @media screen and (min-width: 1024px) {
    .carte {
      width: 45%;
    }
  }


  @media screen and (min-width: 1024px) {
    .carte:hover {
      -webkit-animation: coup 2s ease-in 0.05s forwards;
      animation: coup 2s ease-in 0.05s forwards;
    }
  }


main{
    margin-bottom: 0rem;
}

body{
    margin-bottom: 0rem;
    margin: 0;

    .footer
    {
        margin-left: 0rem;
        margin-right: 0rem;
    }

}