#page1


#page1 body .header .h1{
    text-align: center;
    align-items: center;
}

.imgfond
{
    height: 10rem;
    width: 10rem;
}


.menu-item__description{
    height: 250px;
    width: 87%;
    display: inline;
    position: relative;
    border-radius: 20px;
    color: #000;
    background: #FFF;
    -webkit-box-shadow: 0px 5px 10px 0px #b4b4b4;
    box-shadow: 0px 5px 10px 0px #b4b4b4;

}


