@use "../utils/usefull.scss";

.imgpagi{
    width: 100%;
    min-width: 185px;
    object-position: center;
    object-fit: cover;
    max-height: 25rem;
}
// .mainpetitmenu{padding: 0 1rem;}
.body2{
    background-color:#f6f6f6;
}
.titrepalette{
    font-weight: bold;
    font-family: "Shrikhand", cursive; //peut changer la police si plus beau
    @include usefull.heart-animated;
    border-top-left-radius: 20px;
    min-width: 256px;
    background-color:#f6f6f6;
    margin-top: -2rem;
}
.mainpetitmenu .petitmenu{
    background-color: white;
    overflow: hidden;
    display: grid;
    height: 4rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-bottom: 1rem;

    // padding-bottom: 1rem;
    // padding: 1rem;
    .h4{
        margin-bottom: 0;
        margin: 0;
    }
    .p{
        margin: 0;
    }

    .h4,.p{
        margin: 0;
        margin-top: 0%;
        margin-bottom: 0cm;
        padding: 0cm;
    }
}

