@use "../utils/usefull.scss";

.imgpagi{
    width: 100%;
    min-width: 185px;
    object-position: center;
    object-fit: cover;
    max-height: 25rem;
}
// .mainpetitmenu{padding: 0 1rem;}
.body2{
    background-color:#f6f6f6;
}


@mixin quarterspin {
    @keyframes quarterspin {
      0% {
        transform: rotate(-270deg);
      }
      100% {
        transform: rotate(0);
      }
    }
  }
body .titrepalette{
    font-weight: bold;
    font-family: "Shrikhand", cursive; //peut changer la police si plus beau
    @include usefull.heart-animated;
    border-top-left-radius: 20px;
    min-width: 256px;
    background-color:#f6f6f6;
    margin-top: -2rem;
}
.mainpetitmenu .petitmenu{
    background-color: white;
    overflow: hidden;
    display:flex-grow;
    height: 4rem;
    border-bottom-left-radius: -1rem;
    border-bottom-right-radius: -1rem;
    border-top-left-radius: -1rem;
    border-top-right-radius: -1rem;
    margin-bottom: 2rem;
    padding-left: 3rem;
 
    animation-fill-mode: both;

    // padding-bottom: 1rem;
    // padding: 1rem;
    height: auto;
    .h4{
        margin-bottom: 0;
        margin: 0;
    }
    .p{
        margin: 0;
    }

    .h4, .p{
        margin: 0;
        margin-top: 0%;
        margin-bottom: 0cm;
        padding: 0cm;
    }

   
}

.carte1
{
    text-decoration:done;

}

.repas__titre--barre {


    background-color: #99e2d0;

    margin-top: 5px;
    margin-bottom: 5px;

    width: 4rem;
    max-width: 100px;
    height: 2.5px;
    display: block;


    transform-origin: 0% 50%;
    transform: scaleX(0.5);

  }


